{% if section.blocks.size > 0 %}
  <size-guide>
    <div class="size-guide-content">
      <div class="size-guide__choice">
        {% if section.settings.heading != blank %}
          <h4 class="caption-ffb">{{ section.settings.heading }}</h4>
        {% endif %}

        <div class="size-guide__choice-options">
          <span data-toggle data-toggle-in>{{ 'products.product.size_guide.inch' | t }}</span>

          <span data-toggle data-toggle-cm active>{{ 'products.product.size_guide.cm' | t }}</span>
        </div><!-- /.size-guide__choice-options -->
      </div><!-- /.size-guide__choice -->

      {% comment %}
      <div class="size-guide__calculate">
        
        {% if section.settings.calculator_heading != blank %}
          <h5 class="caption-ffb">{{ section.settings.calculator_heading }}</h5>
        {% endif %}
       
        <div class="size-guide__calculate-options">
          <div class="size-guide__calculate-field">
            <label for="chest">{{ 'products.product.size_guide.chest' | t }}</label>

            <div class="size-guide__calculate-controls">
              <input data-field name="range" class="field__input" type="number" id="chest" value="0">
              <span data-field-unit>{{ 'products.product.size_guide.cm' | t }}</span>
            </div><!-- /.size-guide__calculate-controls -->
          </div><!-- /.size-guide__calculate-field -->

          <div class="size-guide__calculate-field">
            <label for="waist">{{ 'products.product.size_guide.waist' | t }}</label>

            <div class="size-guide__calculate-controls">
              <input data-field name="range" class="field__input" type="number" id="waist" value="0">
              <span data-field-unit>{{ 'products.product.size_guide.cm' | t }}</span>
            </div><!-- /.size-guide__calculate-controls -->
          </div><!-- /.size-guide__calculate-field -->

        </div><!-- /.size-guide__calculate-options -->

        <button data-button-calc class="button button--style-3 size-guide__button-calculate">{{ 'products.product.size_guide.calculate' | t }}</button>

        <div data-size-result-wrapper class="size-guide__calculate-result" hidden>
          {% if section.settings.result_text != blank %}
            <h5 class="caption-ffb">{{ section.settings.result_text }}</h5>
          {% endif %}

          <span data-size-result class="size-guide__result-size"></span>
        </div><!-- /.size-guide__calculate-result -->

        <div data-no-result class="size-guide__calculate-no-result" hidden>
          {% if section.settings.not_find_result != blank %}
            <h5 class="caption-ffb">{{ section.settings.not_find_result }}</h5>
          {% endif %}
        </div><!-- /.size-guide__calculate-no-result -->
      </div><!-- /.size-guide__calculate -->
      {% endcomment %}

      <div class="size-guide__chart">
        {% if section.settings.chart_heading != blank %}
          <h5 class="caption-ffb">{{ section.settings.chart_heading }}</h5>
        {% endif %}

        <div class="size-guide__table">
          <ul class="size-guide__table-head">
            <li>
              <span>{{ 'products.product.size_guide.size' | t }}</span>
            </li>

            <li>
              <span>{{ 'products.product.size_guide.chest' | t }}</span>
            </li>

            <li>
              <span>{{ 'products.product.size_guide.waist' | t }}</span>
            </li>
          </ul><!-- /.size-guide__table-head -->

          <ul class="size-guide__table-body">
            {% for block in section.blocks %}
              {% assign _block = block.settings %}

              {% if _block.title != blank %}
                <li
                  data-size="{{ _block.title }}"
                  data-chest="{{ _block.chest }}"
                  data-waist="{{ _block.waist }}"
                >
                  <span>{{ _block.title }}</span>

                  <span data-chest-holder>{{ _block.chest }}</span>

                  <span data-waist-holder>{{ _block.waist }}</span>
                </li>
              {% endif %}
            {% endfor %}
          </ul><!-- /.size-guide__table-body -->
        </div><!-- /.size-guide__table -->
      </div><!-- /.size-guide__chart -->
    </div><!-- /.size-guide-content -->

    <script type="application/json" data-size-guide>
      [
        {%- for block in section.blocks -%}
          {%- unless forloop.first -%},{%- endunless -%}
          {
            "name": {{ block.settings.title | json }},
            "cm": {
              "chest": {{ block.settings.chest | json }},
              "waist": {{ block.settings.waist | json }}
            },
            "in": {
              "chest": {{ block.settings.chest | times: 0.39370 | round: 1 | json }},
              "waist": {{ block.settings.waist | times: 0.39370 | round: 1 | json }}
            }
          }
        {%- endfor -%}
      ]
    </script>
  </size-guide>
{% endif %}
